<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/files/favicon/" type="image/x-icon">
    <link rel="stylesheet" href="/files/css/root/root.css">
    <title>(AT-FS): [Admin] Dashboard</title>
</head>
<body>
    this is the admin Dashboard

    <script src="/files/scripts/system/system.notification.js"></script>
    <script src="/files/scripts/system/system.utils.js"></script>
    <script src="/files/scripts/system/system.auth.js"></script>
</body>
</html>