@font-face {
    font-family: "font-default";
    src: url('/files/typeface/RedditMono-Regular.ttf');
}

:root {
    --text: #0b0c15;
    --background: #f4f5fb;
    --primary: #032dfc;
    --secondary: #00b108;
    --accent: #a51901;
    --font-default: "font-default";


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-default);
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hidden {
    display: none;
}

.toast {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    padding: 15px;
    margin-top: 10px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.toast.error {
    background-color: #e74c3c;
}

.toast.warning {
    background-color: #f39c12;
}

.toast.info {
    background-color: #3498db;
}

.toast.success {
    background-color: #2ecc71;
}

.toast .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 10px;
}