<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AT-FS: (Getting Started)</title>
</head>
<body>
    <h1>Hello! Welcome to the getting started page!</h1>
    <p><a href="/signin">Click here</a> to sign in</p>

</body>
</html>