<section id="header-seach-bar">
    <form action="#" id="search-form" class="search-bar">
        <div>
            <select class="dropdown" name="search-content" id="search-category">
                <option class="dropdown-list-item dropdown-text" value="none">Categories</option>
                <option class="dropdown-list-item" value="all">All</option>
                <option class="dropdown-list-item" value="images">Images</option>
                <option class="dropdown-list-item" value="pdf">PDF Document</option>
                <option class="dropdown-list-item" value="doc">Word Documents</option>
            </select>
        </div>
        <div class="search-box">
            <input type="text" id="search-input" placeholder="Search anything... [ / ]" required />
            <button type="submit" id="searchBtn" style="box-shadow: none;">
                <i class="fa-solid fa-magnifying-glass">
                    <img src="/files/system/images/search.png" alt="magnifying glass">
                </i>
            </button>
        </div>
    </form>
</section>

<section class="results" id="results">
    <ul>
        <li>
            <a href="#">
                <div class="thumbnail-wrapper">
                    <img src="/files/system/images/word.png" alt="search result thumbnail">
                </div>
                <div class="title">
                    <p>Product title goes here</p>
                    <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem sunt, vero veniam explicabo
                        nam architecto doloribus, in ipsam facilis hic atque quibusdam, doloremque consequuntur labore
                        fugit nesciunt! Eligendi, eaque delectus?
                    </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="thumbnail-wrapper">
                    <img src="/files/system/images/word.png" alt="search result thumbnail">
                </div>
                <div class="title">
                    <p>Product title goes here</p>
                    <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem sunt, vero veniam explicabo
                        nam architecto doloribus, in ipsam facilis hic atque quibusdam, doloremque consequuntur labore
                        fugit nesciunt! Eligendi, eaque delectus?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem sunt, vero veniam explicabo
                        nam architecto doloribus, in ipsam facilis hic atque quibusdam, doloremque consequuntur labore
                        fugit nesciunt! Eligendi, eaque delectus?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem sunt, vero veniam explicabo
                        nam architecto doloribus, in ipsam facilis hic atque quibusdam, doloremque consequuntur labore
                        fugit nesciunt! Eligendi, eaque delectus?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem sunt, vero veniam explicabo
                        nam architecto doloribus, in ipsam facilis hic atque quibusdam, doloremque consequuntur labore
                        fugit nesciunt! Eligendi, eaque delectus?
                    </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="thumbnail-wrapper">
                    <img src="/files/system/images/word.png" alt="search result thumbnail">
                </div>
                <div class="title">
                    <p>Product title goes here</p>
                    <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem sunt, vero veniam explicabo
                        nam architecto doloribus, in ipsam facilis hic atque quibusdam, doloremque consequuntur labore
                        fugit nesciunt! Eligendi, eaque delectus?
                    </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="thumbnail-wrapper">
                    <img src="/files/system/images/word.png" alt="search result thumbnail">
                </div>
                <div class="title">
                    <p>Product title goes here</p>
                    <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem sunt, vero veniam explicabo
                        nam architecto doloribus, in ipsam facilis hic atque quibusdam, doloremque consequuntur labore
                        fugit nesciunt! Eligendi, eaque delectus?
                    </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="thumbnail-wrapper">
                    <img src="/files/system/images/word.png" alt="search result thumbnail">
                </div>
                <div class="title">
                    <p>Product title goes here</p>
                    <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem sunt, vero veniam explicabo
                        nam architecto doloribus, in ipsam facilis hic atque quibusdam, doloremque consequuntur labore
                        fugit nesciunt! Eligendi, eaque delectus?
                    </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="thumbnail-wrapper">
                    <img src="/files/system/images/word.png" alt="search result thumbnail">
                </div>
                <div class="title">
                    <p>Product title goes here</p>
                    <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem sunt, vero veniam explicabo
                        nam architecto doloribus, in ipsam facilis hic atque quibusdam, doloremque consequuntur labore
                        fugit nesciunt! Eligendi, eaque delectus?
                    </span>
                </div>
            </a>
        </li>
    </ul>
</section>