<main class="store-container">
    <h1>Store</h1>
    <div class="files-grid">
        <% for (let file of files) { %>
            <div class="file-card">
                <div class="thumbnail">
                    <img src=<%=file.type==="Image File" ? `${file.filePathUrl}` : file.type==="PDF Document"
                        ? "/files/system/images/pdf.png" : "/files/system/images/word.png" %>
                    alt="File Thumbnail"
                    class="file-thumbnail">
                </div>
                <div class="file-info">
                    <h3><%= file.title %></h3>
                    <p><%= file.description %></p>
                </div>
                <div class="file-actions">
                    <button class="favorite-btn">Add to Favorites</button>
                    <button class="download-btn">Download</button>
                    <button class="share-btn">Share</button>
                </div>
            </div>
        <% } %>
    </div>
</main>