<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/files/favicon/" type="image/x-icon">
    <link rel="stylesheet" href="/files/css/root/root.css">
    <link rel="stylesheet" href="/files/css/root/signin.css">
    <title>Reset Password</title>
</head>

<body>

    <main class="container-main" id="container-main">
        <div class="form-container username-form-container" id="email-form-container">
            <form action="/users/signin" id="signin-form-signup" class="login-form">

                <div class="input-group">
                    <p>&#9432; We would like to verify if the email address associated with your account belongs to you.</p>
                </div>

                <div class="input-group">
                    <label for="email">Enter your email: </label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="input-group">
                    <button type="submit" class="signin-btn" id="signup-btn">Continue</button>
                </div>
            </form>
        </div>
    </main>



    <script>
        const verificationCodeForm = `
            <div class="form-container verification-code-form-container" id="code-form-container">
                <form action="/users/verify-code" id="code-form-signup" class="login-form">
                    <div class="form-header">
                        <h2>Verify Email</h2>
                    </div>
                    <br>
                    <div>
                        <small>&#9432; An email with verification code has been sent to you.</small>
                        <br>
                        
                    </div>
                    <br>
                    <div class="input-group">
                        <label for="email">Enter verification code: </label>
                        <input type="text" name="code" id="code" required>
                    </div>
                    <div class="input-group">
                        <button type="submit" class="code-btn" id="code-btn" disabled>Verify</button>
                    </div>
                    <small style="font-size: 10px;">&#9432; If you cannot find it, kindly check your spam folder</small>
                    <small style=font-size: 13px; text-decoration: underline; color: navy; id="resend-code" class="hidden">Resend Code</small>
                </form>
            </div>
        `;
    </script>
    <script>
        const addPasswordForm = `
            <div class="form-container verification-code-form-container" id="password-form-container">
                <form action="/users/verify-code" id="password-form-signup" class="login-form">
                    <div class="form-header">
                        <h2>Secure your account</h2>
                    </div>
                    <br>
                    <br>
                    <div class="input-group">
                        <label for="email">create a password: </label>
                        <input type="password" name="user_password" id="password_input" required>
                    </div>
                    <div class="input-group">
                        <button type="submit" class="password-btn" id="password-btn" disabled>Confirm</button>
                    </div>
                </form>
            </div>
        `;
    </script>
    <script src="/files/scripts/system/system.notification.js"></script>
    <script src="/files/scripts/system/system.utils.js"></script>
</body>

</html>
