<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/files/favicon/" type="image/x-icon">
    <title>AT-FS: (Signin)</title>
</head>
<body>
    <div class="form-container username-form-container">
        <form action="/users/signin" id="signin-form-signin-with-username">
            <div class="form-header">
                <h2>Sign in with username and password</h2>
            </div>
            <div>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" required>
            </div>
    
            <div>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" required>
            </div>
    
            <div>
                <a href="/users/forgot-password/password/reset/">Forgot password?</a>
            </div>
    
            <div>
                <input type="submit" value="Signin">
            </div>
        </form>
    </div>

    <div class="form-container email-form-container">
        <form action="/users/signin" id="signin-form-signin-with-email">
            <div class="form-header">
                <h2>Sign in with email</h2>
            </div>
            <div>
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" required>
            </div>
    
            <div>
                <input type="submit" value="Signin">
            </div>
        </form>
    </div>

    
    <script src="/files/scripts/system/system.utils.js"></script>
    <script src="/files/scripts/system/system.signin.js"></script>
</body>
</html>