<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(AT-FS): Store</title>
</head>
<body>
    <header>Header here</header>
    <main>Main here</main>
    <footer>Footer here</footer>
</body>
</html>